.Rproj.user
.Rhistory
.RData
.DS_Store
/node_modules
/lib
/www/data.js
/www/tiles
/srv/publisher.ls
/www/screen.css
/www/external.css
/www/external.js
/www/js/*
!/www/js/_loadExternal.js
!/www/js/echo.js
/www/script.js
/www/data.js
/*.sublime-workspace
