@import colors
@import prefixes
@import extraIg

.ig
    @import basics
.ig.base
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 100%
    select
        position absolute
        top 0px
        right 0px
        z-index 5
        &:last-child
            top 30px

.leaflet-control-zoom a
    text-decoration none
    color #333

.tooltip
    margin-top -25px
